<h2>Twitter</h2>
<%= form_for @new_tweet do |f| %>
	<div>
		<%= f.label :text %>
		<%= f.text_field :text %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>
<% @posts.each do |post| %>
	<div class="post">
		<p><%= post.text %></p>
	</div>
<% end %>